:root {
    --primary: #605DFF;
    --primary-dark: #4a00e0;
    --primary-light: #5DA8FF;
    --secondary: #1D1D1D;
    --social-background: #E9E9E9;
    --social-background-hover: #dddddd;
    --text: #1F2346;
    --white: #FFFFFF;
    --violet: #a99cfc;
}
/* * {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;

    background: var(--violet);
    background: -webkit-linear-gradient(to right, var(--violet),
            var(--primary-dark));
    background: linear-gradient(to right, var(--violet),
            var(--primary-dark));
}

h1 {
    text-align: center;
    margin-top: 100px;

}

form {
    display: grid;
    grid-template-columns: 3fr;
    width: 100%;
    max-width: 600px;
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

label {
    font-size: 1rem;
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 40%;
    align-self: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}